<p id="notice"><%= notice %></p>

<p>
  <b> id:</b>
  <%= @user. id %>
</p>

<p>
  <b>Name company:</b>
  <%= @user.name_company %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Url:</b>
  <%= @user.url %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
