<p id="notice"><%= notice %></p>

<p>
  <b> id app:</b>
  <%= @app. id_app %>
</p>

<p>
  <b>Color:</b>
  <%= @app.color %>
</p>

<p>
  <b>Background:</b>
  <%= @app.background %>
</p>

<p>
  <b>Back design:</b>
  <%= @app.back_design %>
</p>

<p>
  <b>Icon:</b>
  <%= @app.icon %>
</p>

<p>
  <b>Icon design:</b>
  <%= @app.icon_design %>
</p>

<p>
  <b>Splash:</b>
  <%= @app.splash %>
</p>

<p>
  <b>Splash design:</b>
  <%= @app.splash_design %>
</p>

<p>
  <b>Status:</b>
  <%= @app.status %>
</p>

<p>
  <b>Price:</b>
  <%= @app.price %>
</p>

<p>
  <b>Id user:</b>
  <%= @app.id_user %>
</p>

<p>
  <b>:</b>
  <%= @app. %>
</p>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
